@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

slick-track {
  display: flex !important;
}

.slick-slide {
  height: auto;
}

label {
  @apply font-medium;
}

@layer utilities {
  .nav {
    @apply fixed top-[88px] w-full bottom-0 left-0 flex flex-col items-center justify-evenly transition-transform translate-x-full;
  }

  .nav-md {
    @apply relative w-[60%] top-auto left-auto flex flex-row translate-x-0 justify-around;
  }

  .nav--active {
    @apply translate-x-0;
  }
}

@layer components {
  .form-input {
    @apply flex flex-col;
  }

  .input {
    @apply bg-transparent outline-none border border-gray-400 focus:ring-2 focus:ring-gray-300 rounded-md px-2 py-1.5;
  }

  .btn {
    @apply bg-[#111] text-white px-5 py-2 rounded;
  }

  .select {
    @apply w-full bg-transparent border border-gray-400 outline-none focus:ring-2 focus:ring-gray-300 rounded-md px-2 py-1.5;
  }
}
