@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

slick-track {
  display: flex !important;
}

.slick-slide {
  height: auto;
}

.slick-prev {
  left: 1% !important;
  z-index: 1;
}

.slick-next {
  right: 1% !important;
  z-index: 1;
}

label {
  @apply font-medium;
}

iframe {
  overflow-x: hidden;
  overflow-y: hidden;
}

.aspect-sqr {
  padding-top: 100%;
}

.aspect-vid {
  padding-top: 56.25%;
}

@layer utilities {
  .nav {
    @apply fixed top-[88px] w-full bottom-0 left-0 flex flex-col items-center justify-evenly transition-transform translate-x-full;
  }

  .nav-md {
    @apply relative w-[60%] top-auto left-auto flex flex-row translate-x-0 justify-around;
  }

  .nav--active {
    @apply translate-x-0;
  }
}

@layer components {
  .form-input {
    @apply flex flex-col;
  }

  .input {
    @apply bg-transparent outline-none border border-gray-400 focus:ring-2 focus:ring-gray-300 rounded-md px-2 py-1.5;
  }

  .file-input {
    @apply file:bg-transparent file:border file:px-2 file:py-1.5 file:rounded-md file:border-gray-400 file:outline-none;
  }

  .btn {
    @apply flex justify-center items-center gap-2 text-xs md:text-base bg-[#1a73e8] text-white px-5 py-2 rounded hover:bg-opacity-80 transition-colors;
  }

  .btn--disabled {
    @apply pointer-events-none bg-[#a5a5a5] text-white;
  }

  .btn--secondary {
    @apply bg-transparent text-[#1a73e8] border border-[#1a73e8] font-medium;
  }

  .select {
    @apply w-full bg-transparent border border-gray-400 outline-none focus:ring-2 focus:ring-gray-300 rounded-md px-2 py-1.5;
  }

  .link {
    @apply text-blue-600 hover:text-blue-400 transition-colors;
  }
}

/* Table style */

table,
th,
td {
  @apply border border-gray-300;
}

th,
td {
  @apply px-5 py-3;
}

th {
  @apply font-medium;
}

td {
  @apply text-base text-center;
}
